<h2 class="text-center my-5">
  {{ isEditing ? "Edit" : "Create" }} Gallery Image
</h2>

<div *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form (ngSubmit)="onSubmit()" class="border rounded p-5 w-75 mb-5 mx-auto">
  <div class="mb-3">
    <label class="form-label">Image path</label>
    <input
      class="form-control"
      type="text"
      name="imagePath"
      [(ngModel)]="galleryImage.imagePath"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Created date</label>
    <input
      class="form-control"
      type="date"
      name="createdDate"
      [(ngModel)]="galleryImage.createdDate"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Gallery id</label>
    <input
      class="form-control"
      type="text"
      name="galleryId"
      [(ngModel)]="galleryImage.galleryId"
      readonly
    />
  </div>

  <button class="btn btn-primary mt-3" type="submit">
    {{ isEditing ? "Save" : "Create" }}
  </button>
</form>
