<h2 class="text-center my-5">
  {{ isEditing ? "Edit" : "Create" }} Gallery Image
</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #galleryImageForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Image path*</label>
    <input
      required
      maxlength="256"
      #imagePath="ngModel"
      class="form-control"
      type="text"
      name="imagePath"
      [(ngModel)]="galleryImage.imagePath"
    />
    <div *ngIf="imagePath.invalid && (imagePath.touched || imagePath.dirty)">
      <div class="text-danger" *ngIf="imagePath.errors?.['required']">
        Image Path is required.
      </div>
      <div class="text-danger" *ngIf="imagePath.errors?.['maxlength']">
        Image Path cannot exceed 256 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Gallery Id*</label>
    <input
      required
      #galleryId="ngModel"
      class="form-control"
      type="text"
      name="galleryId"
      [(ngModel)]="galleryImage.galleryId"
      readonly
    />
    <div *ngIf="galleryId.invalid && (galleryId.touched || galleryId.dirty)">
      <div class="text-danger" *ngIf="galleryId.errors?.['required']">
        Gallery Id is required.
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="galleryImageForm.invalid"
  >
    {{ isEditing ? "Save" : "Create" }}
  </button>

  <button class="btn btn-secondary mt-3" (click)="goBack()">
    Back to List
  </button>
</form>
