<h2 class="text-center my-5">Documents</h2>

<div class="d-flex flex-column">
  <a
    type="button"
    class="btn btn-primary my-2 col-1"
    routerLink="/documents/create"
    >Create</a
  >
</div>

<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="documentUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Document URL</th>
      <td mat-cell *matCellDef="let element">{{ element.documentUrl }}</td>
    </ng-container>

    <ng-container matColumnDef="isEvent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Event?</th>
      <td mat-cell *matCellDef="let element">{{ element.isEvent }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          class="btn btn-outline-warning btn-sm m-2"
          (click)="editDocument(element.id)"
        >
          Edit
        </button>
        <button
          mat-button
          color="warn"
          type="button"
          class="btn btn-danger btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="selectedDocumentId = element.id"
        >
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  #exampleModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Document</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this document ?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="
            selectedDocumentId !== null
              ? deleteDocument(selectedDocumentId)
              : null
          "
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
