<h2 class="text-center my-5">
  {{ isEditing ? "Editează" : "Creează" }} pagina
</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  [formGroup]="editorForm"
  (ngSubmit)="onSubmit()"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Nume pagină*</label>
    <input
      required
      maxlength="64"
      class="form-control"
      type="text"
      name="pageName"
      formControlName="pageName"
    />
    <div
      *ngIf="
        editorForm.controls['pageName'].invalid &&
        (editorForm.controls['pageName'].touched ||
          editorForm.controls['pageName'].dirty)
      "
    >
      <div
        class="text-danger"
        *ngIf="editorForm.controls['pageName'].errors?.['required']"
      >
        Page Name is required.
      </div>
      <div
        class="text-danger"
        *ngIf="editorForm.controls['pageName'].errors?.['maxlength']"
      >
        Page Name cannot exceed 64 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Conținut</label>
    <quill-editor
      [style]="editorStyle"
      formControlName="content"
    ></quill-editor>
  </div>

  <!-- [(ngModel)]="pageContent.content"
      name="content"
      [modules]="config" -->

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="editorForm.invalid"
  >
    {{ isEditing ? "Salvează" : "Creează" }}
  </button>

  <button class="btn btn-secondary mt-3" (click)="goBack()">Înapoi</button>
</form>

<div [innerHTML]="pageContent.content"></div>
