<h2 class="text-center my-5">
  {{ isEditing ? "Edit" : "Create" }} Page Content
</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #pageContentForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Page Name*</label>
    <input
      required
      maxlength="64"
      #pageName="ngModel"
      class="form-control"
      type="text"
      name="pageName"
      [(ngModel)]="pageContent.pageName"
    />
    <div *ngIf="pageName.invalid && (pageName.touched || pageName.dirty)">
      <div class="text-danger" *ngIf="pageName.errors?.['required']">
        Page Name is required.
      </div>
      <div class="text-danger" *ngIf="pageName.errors?.['maxlength']">
        Page Name cannot exceed 64 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Content</label>
    <input
      class="form-control"
      type="text"
      name="content"
      [(ngModel)]="pageContent.content"
    />
  </div>

  <!-- <div class="mb-3">
    <label class="form-label">Created date</label>
    <input
      class="form-control"
      type="date"
      name="createdDate"
      [(ngModel)]="pageContent.createdDate"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Updated date</label>
    <input
      class="form-control"
      type="date"
      name="updatedDate"
      [(ngModel)]="pageContent.updatedDate"
    />
  </div> -->

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="pageContentForm.invalid"
  >
    {{ isEditing ? "Save" : "Create" }}
  </button>

  <button class="btn btn-secondary mt-3" (click)="goBack()">
    Back to List
  </button>
</form>
