<h2 class="text-center my-5">{{ isEditing ? "Edit" : "Create" }} Admin</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #adminForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Name*</label>
    <input
      required
      maxlength="64"
      #fullName="ngModel"
      class="form-control"
      type="text"
      name="fullName"
      [(ngModel)]="admin.fullName"
    />
    <div *ngIf="fullName.invalid && (fullName.touched || fullName.dirty)">
      <div class="text-danger" *ngIf="fullName.errors?.['required']">
        Name is required.
      </div>
      <div class="text-danger" *ngIf="fullName.errors?.['maxlength']">
        Name cannot be longer than 64 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Username*</label>
    <input
      required
      maxlength="32"
      pattern="^[a-zA-Z0-9_]+$"
      #username="ngModel"
      class="form-control"
      type="text"
      name="username"
      [(ngModel)]="admin.username"
    />
    <div *ngIf="username.invalid && (username.touched || username.dirty)">
      <div class="text-danger" *ngIf="username.errors?.['required']">
        Username is required.
      </div>
      <div class="text-danger" *ngIf="username.errors?.['maxlength']">
        Username cannot be longer than 32 characters.
      </div>
      <div class="text-danger" *ngIf="username.errors?.['pattern']">
        Username can only contain letters, numbers, and underscores.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Password*</label>
    <input
      required
      minlength="6"
      maxlength="128"
      #passwordHash="ngModel"
      class="form-control"
      type="text"
      name="passwordHash"
      [(ngModel)]="admin.passwordHash"
    />
    <div
      *ngIf="
        passwordHash.invalid && (passwordHash.touched || passwordHash.dirty)
      "
    >
      <div class="text-danger" *ngIf="passwordHash.errors?.['required']">
        Password is required.
      </div>
      <div class="text-danger" *ngIf="passwordHash.errors?.['minlength']">
        Password must be at least 6 characters.
      </div>
      <div class="text-danger" *ngIf="passwordHash.errors?.['maxlength']">
        Password cannot exceed 128 characters.
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="adminForm.invalid"
  >
    {{ isEditing ? "Save" : "Create" }}
  </button>

  <button class="btn btn-secondary mt-3" (click)="goBack()">
    Back to List
  </button>
</form>
