<h2 class="text-center my-5">{{ isEditing ? "Edit" : "Create" }} Admin</h2>

<div *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form (ngSubmit)="onSubmit()" class="border rounded p-5 w-75 mb-5 mx-auto">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input
      class="form-control"
      type="text"
      name="fullName"
      [(ngModel)]="admin.fullName"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Username</label>
    <input
      class="form-control"
      type="text"
      name="username"
      [(ngModel)]="admin.username"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input
      class="form-control"
      type="text"
      name="passwordHash"
      [(ngModel)]="admin.passwordHash"
    />
  </div>

  <button class="btn btn-primary mt-3" type="submit">
    {{ isEditing ? "Save" : "Create" }}
  </button>
</form>
