<h2 class="text-center my-5">{{ isEditing ? "Edit" : "Create" }} Document</h2>

<div *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form (ngSubmit)="onSubmit()" class="border rounded p-5 w-75 mb-5 mx-auto">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="document.title"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Document URL</label>
    <input
      class="form-control"
      type="text"
      name="documentUrl"
      [(ngModel)]="document.documentUrl"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Is Event?</label>
    <input type="checkbox" name="isEvent" [(ngModel)]="document.isEvent" />
  </div>

  <button class="btn btn-primary mt-3" type="submit">
    {{ isEditing ? "Save" : "Create" }}
  </button>
</form>
