<h2 class="text-center my-5">
  {{ isEditing ? "Editează" : "Creează" }} Galerie
</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #galleryForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">An*</label>
    <input
      required
      maxlength="256"
      #year="ngModel"
      class="form-control"
      type="text"
      name="year"
      [(ngModel)]="gallery.year"
    />
    <div *ngIf="year.invalid && (year.touched || year.dirty)">
      <div class="text-danger" *ngIf="year.errors?.['required']">
        Year is required.
      </div>
      <div class="text-danger" *ngIf="year.errors?.['maxlength']">
        Year cannot exceed 256 characters.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Titlu*</label>
    <input
      required
      maxlength="256"
      #title="ngModel"
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="gallery.title"
    />
    <div *ngIf="title.invalid && (title.touched || title.dirty)">
      <div class="text-danger" *ngIf="title.errors?.['required']">
        Title is required.
      </div>
      <div class="text-danger" *ngIf="title.errors?.['maxlength']">
        Title cannot exceed 256 characters.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Descriere*</label>
    <input
      required
      maxlength="256"
      #description="ngModel"
      class="form-control"
      type="text"
      name="description"
      [(ngModel)]="gallery.description"
    />
    <div
      *ngIf="description.invalid && (description.touched || description.dirty)"
    >
      <div class="text-danger" *ngIf="description.errors?.['required']">
        Description is required.
      </div>
      <div class="text-danger" *ngIf="description.errors?.['maxlength']">
        Description cannot exceed 256 characters.
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="galleryForm.invalid"
  >
    {{ isEditing ? "Salvează" : "Adaugă" }}
  </button>

  <button class="btn btn-secondary mt-3 mx-5" (click)="goBack()">Înapoi</button>
</form>
