<h2 class="text-center my-5">{{ isEditing ? "Edit" : "Create" }} Gallery</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #galleryForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Title*</label>
    <input
      required
      maxlength="256"
      #title="ngModel"
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="gallery.title"
    />
    <div *ngIf="title.invalid && (title.touched || title.dirty)">
      <div class="text-danger" *ngIf="title.errors?.['required']">
        Title is required.
      </div>
      <div class="text-danger" *ngIf="title.errors?.['maxlength']">
        Title cannot exceed 256 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      [(ngModel)]="gallery.description"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Created date</label>
    <input
      class="form-control"
      type="date"
      name="createdDate"
      [(ngModel)]="gallery.createdDate"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Updated date</label>
    <input
      class="form-control"
      type="date"
      name="updatedDate"
      [(ngModel)]="gallery.updatedDate"
    />
  </div>

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="galleryForm.invalid"
  >
    {{ isEditing ? "Save" : "Create" }}
  </button>

  <button
    class="btn btn-secondary mt-3"
    [disabled]="isEditing == false"
    [routerLink]="['/gallery-images/create', gallery.id]"
  >
    Add Image
  </button>

  <button class="btn btn-secondary mt-3 mx-5" (click)="goBack()">
    Back to List
  </button>

  <div *ngIf="isEditing" class="border rounded p-5 w-75 mb-5 mx-auto my-5">
    <h3 class="text-center my-4">Gallery Images</h3>
    <ul class="list-group list-group-flush">
      <li *ngFor="let image of gallery.galleryImages" class="list-group-item">
        <span>{{ image.imagePath }}</span>
        <button
          class="btn btn-danger btn-sm float-end"
          type="button"
          (click)="deleteGalleryImage(image.id)"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
</form>
