<h2 class="text-center my-5">Imagini galerie</h2>

<!-- Upload Input -->
<div class="mb-3 text-center">
  <label class="form-label fw-bold">Adaugă imagini</label>
  <input
    class="form-control mb-2"
    type="file"
    #uploadImageInput
    (change)="onMultipleImagesSelected($event)"
    multiple
  />

  <button
    class="btn btn-primary"
    [disabled]="!selectedFiles || selectedFiles.length === 0"
    (click)="uploadMultipleImages()"
  >
    Încarcă
  </button>
</div>

<!-- Image preview -->
<div class="image-preview-container d-flex flex-wrap">
  <div
    *ngFor="let file of selectedFiles"
    class="preview-card m-2 border rounded"
  >
    <img
      [src]="fileToUrl(file)"
      alt="Preview"
      class="preview-thumbnail img-thumbnail"
    />
    <button
      type="button"
      class="btn btn-danger btn-sm mt-1"
      aria-label="Remove selected file"
      (click)="removeSelectedFile(file)"
    >
      Șterge
    </button>
  </div>
</div>

<!-- Grid Display -->
<div class="card shadow-sm">
  <div class="card-header bg-primary text-white">
    <p class="card-title m-0">Imagini: {{ galleryImageCount }}</p>
  </div>

  <div class="gallery-grid">
    <div
      *ngFor="let galleryImage of paginatedGalleryImages"
      class="image-card shadow"
    >
      <img
        [src]="getImageUrl(galleryImage.imagePath)"
        alt="Gallery Image"
        class="card-img-top"
        tabindex="0"
        (keydown.enter)="viewImage(getImageUrl(galleryImage.imagePath), $event)"
        (click)="viewImage(getImageUrl(galleryImage.imagePath), $event)"
        aria-label="View full image"
      />

      <div class="card-footer text-center">
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="openDeleteModal(galleryImage.id)"
        >
          Șterge
        </button>
      </div>

      <!-- Hover Details -->
      <div class="image-details-overlay">
        <p class="mb-1 fw-bold">Creată la:</p>
        <p class="mb-0">{{ galleryImage.createdDate | date : "short" }}</p>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Anterior</a>
      </li>
      <li
        class="page-item"
        *ngFor="let page of totalPagesArray"
        [class.active]="page === currentPage"
      >
        <button class="page-link" (click)="changePage(page)">
          {{ page }}
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Următor</a>
      </li>
    </ul>
  </nav>
</div>

<!-- Modal for Viewing Image -->
<div
  class="modal fade"
  id="viewImageModal"
  #viewImageModal
  tabindex="-1"
  aria-labelledby="viewImageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewImageModalLabel">Imagine</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <img
          id="modalImage"
          alt="Selected Image"
          class="img-fluid rounded shadow"
        />
      </div>
    </div>
  </div>
</div>

<!-- Modal for Deleting Image -->
<div
  class="modal fade"
  id="exampleModal"
  #exampleModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Șterge imagine</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Ești sigur că vrei să ștergi imaginea?</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Închide
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteGalleryImage(selectedGalleryImageId!)"
        >
          Șterge
        </button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-secondary mt-3 mx-5" (click)="goBack()">Înapoi</button>
