mat-grid-tile {
  background: lightblue;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 1rem;
}

.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.image-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  cursor: pointer;
  object-fit: cover;
  height: 200px;
}

.image-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.image-card:hover .image-details-overlay {
  opacity: 1;
  pointer-events: all;
}

.preview-card {
  width: 120px;
  height: 240px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-grow: 1;
}

.preview-card .btn {
  font-size: 0.8rem;
  margin-top: 8px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  cursor: pointer;
}

img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}
