<h2 class="text-center my-5">Team Members</h2>

<div class="d-flex flex-column">
  <a
    type="button"
    class="btn btn-primary my-2 col-1"
    routerLink="/team-members/create"
    >Create</a
  >

  <div class="card">
    <div class="card-header">
      <p class="card-title fs-5">Team Members List</p>
    </div>
    <div class="card-body">
      <table class="table table-hover caption-top">
        <caption>
          List of team members
        </caption>
        <thead class="table-light">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Bio</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let teamMember of teamMembers">
            <td>{{ teamMember.id }}</td>
            <td>{{ teamMember.name }}</td>
            <td>{{ teamMember.role }}</td>
            <td>{{ teamMember.department }}</td>
            <td>{{ teamMember.bio }}</td>
            <td>{{ teamMember.imagePath }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-warning btn-sm m-2"
                (click)="editTeamMember(teamMember.id)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="selectedTeamMemberId = teamMember.id"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  #exampleModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Delete Team Member
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this team member ?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="
            selectedTeamMemberId !== null
              ? deleteTeamMember(selectedTeamMemberId)
              : null
          "
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
