<h2 class="text-center my-5">Pages</h2>

<div class="d-flex flex-column">
  <a
    type="button"
    class="btn btn-primary my-2 col-1"
    routerLink="/page-contents/create"
    >Create</a
  >

  <div class="card">
    <div class="card-header"><p class="card-title fs-5">Pages List</p></div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Page name</th>
            <th>Content</th>
            <th>Created date</th>
            <th>Updated date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pageContent of pageContents">
            <td>{{ pageContent.id }}</td>
            <td>{{ pageContent.pageName }}</td>
            <td>{{ pageContent.content }}</td>
            <td>{{ pageContent.createdDate }}</td>
            <td>{{ pageContent.updatedDate }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-warning btn-sm m-2"
                (click)="editPageContent(pageContent.id)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="deletePageContent(pageContent.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
