<h2 class="text-center my-5">Galleries</h2>

<div class="d-flex flex-column">
  <a
    type="button"
    class="btn btn-primary my-2 col-1"
    routerLink="/galleries/create"
    >Create</a
  >
</div>

<div class="filter-container">
  <mat-form-field appearance="outline" class="year-filter">
    <mat-label>Select Year</mat-label>
    <mat-select (selectionChange)="applyYearFilter($event.value)">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="search-filter">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
  </mat-form-field>
</div>

<div *ngIf="galleries.length > 0; else noGalleries" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdDate | date : "short" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.updatedDate | date : "short" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          class="btn btn-outline-warning btn-sm m-2"
          (click)="editGallery(element.id)"
        >
          Edit
        </button>
        <button
          mat-button
          color="warn"
          type="button"
          class="btn btn-danger btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="selectedGalleryId = element.id"
        >
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToGalleryImages(row.id, $event)"
      class="clickable-row"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<ng-template #noGalleries>
  <p>No galleries available.</p>
</ng-template>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  #exampleModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Gallery</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this gallery ?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="
            selectedGalleryId !== null ? deleteGallery(selectedGalleryId) : null
          "
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
