<h2 class="text-center my-5">Admins</h2>

<div class="d-flex flex-column">
  <a
    type="button"
    class="btn btn-primary my-2 col-1"
    routerLink="/admins/create"
    >Create</a
  >

  <!-- <div class="card">
    <div class="card-header">
      <p class="card-title fs-5">Admins List</p>
    </div>
    <div class="card-body">
      <table class="table table-hover caption-top">
        <caption>
          List of users
        </caption>
        <thead class="table-light">
          <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let admin of admins">
            <td>{{ admin.id }}</td>
            <td>{{ admin.fullName }}</td>
            <td>{{ admin.username }}</td>
            <td>{{ admin.passwordHash }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-warning btn-sm m-2"
                (click)="editAdmin(admin.id)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="selectedAdminId = admin.id"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="passwordHash">
    <th mat-header-cell *matHeaderCellDef>Password</th>
    <td mat-cell *matCellDef="let element">{{ element.passwordHash }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        class="btn btn-outline-warning btn-sm m-2"
        (click)="editAdmin(element.id)"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        type="button"
        class="btn btn-danger btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="selectedAdminId = element.id"
      >
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  #exampleModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Admin</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this admin ?</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="
            selectedAdminId !== null ? deleteAdmin(selectedAdminId) : null
          "
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
