<h2 class="text-center my-5">
  {{ isEditing ? "Edit" : "Create" }} Team Member
</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #teamMemberForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Name*</label>
    <input
      required
      maxlength="64"
      #name="ngModel"
      class="form-control"
      type="text"
      name="name"
      [(ngModel)]="teamMember.name"
    />
    <div *ngIf="name.invalid && (name.touched || name.dirty)">
      <div class="text-danger" *ngIf="name.errors?.['required']">
        Name is required.
      </div>
      <div class="text-danger" *ngIf="name.errors?.['maxlength']">
        Name cannot exceed 64 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Role*</label>
    <input
      required
      maxlength="128"
      #role="ngModel"
      class="form-control"
      type="text"
      name="role"
      [(ngModel)]="teamMember.role"
    />
    <div *ngIf="role.invalid && (role.touched || role.dirty)">
      <div class="text-danger" *ngIf="role.errors?.['required']">
        Role is required.
      </div>
      <div class="text-danger" *ngIf="role.errors?.['maxlength']">
        Role cannot exceed 128 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Department*</label>
    <input
      required
      maxlength="128"
      #department="ngModel"
      class="form-control"
      type="text"
      name="department"
      [(ngModel)]="teamMember.department"
    />
    <div *ngIf="department.invalid && (department.touched || department.dirty)">
      <div class="text-danger" *ngIf="department.errors?.['required']">
        Department is required.
      </div>
      <div class="text-danger" *ngIf="department.errors?.['maxlength']">
        Department cannot exceed 128 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Bio</label>
    <input
      class="form-control"
      type="text"
      name="bio"
      [(ngModel)]="teamMember.bio"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">ImagePath</label>
    <input
      class="form-control"
      type="text"
      name="imagePath"
      [(ngModel)]="teamMember.imagePath"
    />
  </div>

  <button
    class="btn btn-primary mt-3"
    type="submit"
    [disabled]="teamMemberForm.invalid"
  >
    {{ isEditing ? "Save" : "Create" }}
  </button>
</form>
