<h2 class="text-center my-5">
  {{ isEditing ? "Edit" : "Create" }} Team Member
</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{ errorMessage }}
</div>

<form
  *ngIf="errorMessage === ''"
  (ngSubmit)="onSubmit()"
  #teamMemberForm="ngForm"
  class="border rounded p-5 w-75 mb-5 mx-auto"
>
  <div class="mb-3">
    <label class="form-label">Name*</label>
    <input
      required
      maxlength="64"
      #name="ngModel"
      class="form-control"
      type="text"
      name="name"
      [(ngModel)]="teamMember.name"
    />
    <div *ngIf="name.invalid && (name.touched || name.dirty)">
      <div class="text-danger" *ngIf="name.errors?.['required']">
        Name is required.
      </div>
      <div class="text-danger" *ngIf="name.errors?.['maxlength']">
        Name cannot exceed 64 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Role*</label>
    <input
      required
      maxlength="128"
      #role="ngModel"
      class="form-control"
      type="text"
      name="role"
      [(ngModel)]="teamMember.role"
    />
    <div *ngIf="role.invalid && (role.touched || role.dirty)">
      <div class="text-danger" *ngIf="role.errors?.['required']">
        Role is required.
      </div>
      <div class="text-danger" *ngIf="role.errors?.['maxlength']">
        Role cannot exceed 128 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Department*</label>
    <input
      required
      maxlength="128"
      #department="ngModel"
      class="form-control"
      type="text"
      name="department"
      [(ngModel)]="teamMember.department"
    />
    <div *ngIf="department.invalid && (department.touched || department.dirty)">
      <div class="text-danger" *ngIf="department.errors?.['required']">
        Department is required.
      </div>
      <div class="text-danger" *ngIf="department.errors?.['maxlength']">
        Department cannot exceed 128 characters.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Bio</label>
    <input
      class="form-control"
      type="text"
      name="bio"
      [(ngModel)]="teamMember.bio"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Upload Image</label>
    <input
      class="form-control d-none"
      type="file"
      id="imagePath"
      (change)="onImageSelected($event)"
    />
    <label
      class="form-control"
      for="imagePath"
      [ngClass]="{ 'text-muted': selectedFileName }"
    >
      {{ selectedFileName || "Choose a file" }}
    </label>
  </div>
  <div
    *ngIf="
      imgPath === 'https://localhost:7047/Uploads/images/team-members/user.png'
    "
    class="text-muted"
  >
    No image uploaded. Please choose a file to upload a new image.
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- Image preview section -->
  <div *ngIf="imgPath" class="my-3">
    <img
      [src]="imgPath"
      alt="Team Member Image"
      class="img-thumbnail"
      width="200px"
      height="200px"
      (click)="viewImage(imgPath)"
      style="cursor: pointer"
    />
    <button
      *ngIf="
        imgPath != 'https://localhost:7047/Uploads/images/team-members/user.png'
      "
      mat-button
      color="warn"
      type="button"
      class="btn btn-danger btn-sm mt-2"
      (click)="openDeleteImageModal()"
    >
      Delete Image
    </button>
  </div>

  <button
    class="btn btn-primary mt-3 mx-5"
    type="submit"
    [disabled]="teamMemberForm.invalid"
  >
    {{ isEditing ? "Save" : "Create" }}
  </button>

  <button class="btn btn-secondary mt-3" (click)="goBack()">
    Back to List
  </button>
</form>

<!-- Modal for Viewing Image -->
<div
  class="modal fade"
  id="viewImageModal"
  tabindex="-1"
  aria-labelledby="viewImageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewImageModalLabel">View Image</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          *ngIf="imageToView"
          [src]="imageToView"
          class="img-fluid"
          alt="Team Member Image"
        />
      </div>
    </div>
  </div>
</div>

<!-- Modal for Deleting Image -->
<div
  class="modal fade"
  id="deleteImageModal"
  #deleteImageModal
  tabindex="-1"
  aria-labelledby="deleteImageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteImageModalLabel">
          Delete Image
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete the image ?</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteImage()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
